body,
html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1a1a1a;
  background-color: #f9f9f9;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#search {
  margin-bottom: 2rem;
}

#search input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#search input[type="text"] {
  background-color: white;
  color: black;
}

#search input[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #5a9cd5;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background-color: gray;
  color: white;
}

table tr {
  height: 50px;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.error-msg {
  background-color: red;
  font-size: 1.5rem;
}
